# 数据加载、存储与文件格式

读写文本格式数据
-----------

In [1]:
import pandas as pd

In [1]:
!cat ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:

df=pd.read_csv('ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table('ch06/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
pd.read_csv('ch06/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [10]:
pd.read_csv('ch06/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_csv('ch06/ex2.csv',names=['a','b','c','d','message'],index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [6]:
!cat ch06/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [9]:
parsed=pd.read_csv('ch06/csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [11]:
list(open('ch06/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [23]:
result=pd.read_table('ch06/ex3.txt',sep='\s+')

In [24]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [26]:
!cat ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [28]:
pd.read_csv('ch06/ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [30]:
!cat ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [34]:
result=pd.read_table('ch06/ex5.csv',sep=',')
result

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [37]:
result.isnull()

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [39]:
result=pd.read_csv('ch06/ex5.csv',na_values=['NULL'])

In [41]:
result

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [43]:
sentinels={'message':['foo','NA'],'something':['two']}
pd.read_csv('ch06/ex5.csv',na_values=sentinels)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6 NaN   8   world
2     three  9  10  11  12     NaN

逐块读取文本文件
------------

In [46]:
result=pd.read_csv('ch06/ex6.csv')

In [49]:
pd.read_csv('ch06/ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [52]:
chunker=pd.read_csv('ch06/ex6.csv',chunksize=1000)
chunker

In [61]:
chunker=pd.read_csv('ch06/ex6.csv',chunksize=1000)
tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(),fill_value=0)
tot=tot.sort_values(ascending=False)
tot

E    368
X    364
L    346
O    343
Q    340
M    338
J    337
F    335
K    334
H    330
V    328
I    327
U    326
P    324
D    320
A    320
R    318
Y    314
G    308
S    308
N    306
W    305
T    304
B    302
Z    288
C    286
4    171
6    166
7    164
8    162
3    162
5    157
2    152
0    151
9    150
1    146
dtype: float64

将数据写出到文本格式
----------------

In [63]:
data=pd.read_csv('ch06/ex5.csv')
data

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [65]:
data.to_csv('ch06/out.csv')

In [67]:
!cat ch06/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [73]:
import sys
data.to_csv(sys.stdout,sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [78]:
data.to_csv(sys.stdout,na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [80]:
data.to_csv(sys.stdout,index=False,header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [85]:
data.to_csv(sys.stdout,index=False,cols=['a','b'])

something,a,b,c,d,message
one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [91]:
import numpy as np
dates=pd.date_range('1/1/2000',periods=7)
ts=pd.Series(np.arange(7),index=dates)
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int64

In [93]:
ts.to_csv('ch06/tsseries.csv')

In [95]:
!cat ch06/tsseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [97]:
pd.Series.from_csv('ch06/tseries.csv',parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

手工处理分隔符格式
----------

In [3]:
!cat ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [6]:
import csv
f=open('ch06/ex7.csv')
reader=csv.reader(f)
for line in reader:
    print line

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [9]:
lines=list(csv.reader(open('ch06/ex7.csv')))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3', '4']]

JSON数据
---------

In [25]:
obj="""{"names":"Wes",
                "places_lived":["United States","Spain","German"],
                "pet":null,
                "siblings":[{"names":"Scott","age":25,"pet":"zuko"},{"names":"Katie","age":33,"pet":"Cisco"}]
                }"""

In [27]:

import json
result=json.loads(obj)

In [29]:
result

{u'names': u'Wes',
 u'pet': None,
 u'places_lived': [u'United States', u'Spain', u'German'],
 u'siblings': [{u'age': 25, u'names': u'Scott', u'pet': u'zuko'},
  {u'age': 33, u'names': u'Katie', u'pet': u'Cisco'}]}

In [32]:
asjson=json.dumps(result)
asjson

'{"pet": null, "siblings": [{"pet": "zuko", "age": 25, "names": "Scott"}, {"pet": "Cisco", "age": 33, "names": "Katie"}], "names": "Wes", "places_lived": ["United States", "Spain", "German"]}'

In [42]:
siblings=pd.DataFrame(result['siblings'],columns=['names','age','pet'])
siblings

   names  age    pet
0  Scott   25   zuko
1  Katie   33  Cisco

In [41]:
result['names']

u'Wes'

In [46]:
siblings=pd.DataFrame(result,columns=['names','pet'])
siblings

ValueError: arrays must all be same length

XML和HTML: Web信息收集
---------

In [47]:
from lxml.html import parse
from urllib2 import urlopen
parsed=parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc=parsed.getroot()

In [53]:
links=doc.findall('.//a')
links[15:20]

[<Element a at 0x7fd00b6643c0>,
 <Element a at 0x7fd00b664418>,
 <Element a at 0x7fd00b664470>,
 <Element a at 0x7fd00b6644c8>,
 <Element a at 0x7fd00b664520>]

In [55]:
lnk=links[28]
lnk

In [57]:
lnk.get('href')

'https://autos.yahoo.com/'

In [60]:
lnk.text_content()

'Autos'

In [62]:
urls=[lnk.get('href') for lnk in links]

In [64]:
urls

['https://www.yahoo.com/',
 'https://mail.yahoo.com/?.intl=us&.lang=en-US&.src=ym',
 'https://search.yahoo.com/search',
 'http://news.yahoo.com/',
 'http://sports.yahoo.com/',
 'http://finance.yahoo.com/',
 'https://weather.yahoo.com/',
 'https://games.yahoo.com/',
 'https://answers.yahoo.com/',
 'https://screen.yahoo.com/',
 'https://www.flickr.com/',
 'https://mobile.yahoo.com/',
 'http://everything.yahoo.com/',
 'https://www.yahoo.com/politics',
 'https://celebrity.yahoo.com/',
 'https://www.yahoo.com/movies',
 'https://www.yahoo.com/music',
 'https://www.yahoo.com/tv',
 'https://groups.yahoo.com/',
 'https://www.yahoo.com/health',
 'https://www.yahoo.com/style',
 'https://www.yahoo.com/beauty',
 'https://www.yahoo.com/food',
 'https://www.yahoo.com/parenting',
 'https://www.yahoo.com/makers',
 'https://www.yahoo.com/tech',
 'http://shopping.yahoo.com/',
 'https://www.yahoo.com/travel',
 'https://autos.yahoo.com/',
 'https://www.yahoo.com/realestate',
 'https://www.mozilla.org/firefox/new/?utm_source=yahoo&utm_medium=referral&utm_campaign=y-uh&utm_content=y-finance-try',
 'http://finance.yahoo.com',
 'https://login.yahoo.com/config/login?.src=quote&.intl=us&.lang=en-US&.done=http://finance.yahoo.com/q/op%3fs=AAPL%2520Options',
 'https://login.yahoo.com/config/login?.src=quote&.intl=us&.lang=en-US&.done=http://finance.yahoo.com/q/op%3fs=AAPL%2520Options',
 'https://mail.yahoo.com/?.intl=us&.lang=en-US&.src=ym',
 'javascript:void(0);',
 'https://login.yahoo.com/account/personalinfo?.intl=us&.lang=en-US&.done=http://finance.yahoo.com/q/op%3fs=AAPL%2520Options&.src=quote&.intl=us&.lang=en-US',
 'https://help.yahoo.com/l/us/yahoo/finance/',
 'http://feedback.yahoo.com/forums/207809',
 'https://www.yahoo.com/',
 '/',
 '/portfolios.html',
 '/portfolios/manage',
 '/portfolio/new',
 '/my-quotes-news/',
 '/market-overview/',
 '/stock-center/',
 '/funds/',
 '/options/',
 '/etf/',
 '/bonds',
 '/futures',
 '/currency-investing',
 'http://biz.yahoo.com/research/earncal/today.html',
 '/yahoofinance/',
 '/news/marketmovers/',
 '/news/middaymovers/',
 '/yahoofinance/business/',
 '/yahoofinance/investing',
 '/yahoofinance/personalfinance',
 '/blogs/breakout/',
 '/blogs/cost-of-living/',
 '/blogs/daily-ticker/',
 '/blogs/driven/',
 '/blogs/hot-stock-minute/',
 '/blogs/just-explain-it/',
 'http://finance.yahoo.com/blogs/author/aaron-task/',
 '/blogs/author/michael-santoli/',
 '/blogs/author/jeff-macke/',
 '/blogs/author/aaron-pressman/',
 '/blogs/author/rick-newman/',
 '/blogs/author/mandi-woodruff/',
 '/blogs/the-exchange/',
 '/blogs/michael-santoli/',
 'http://finance.yahoo.com/blogs/author/philip-pearlman/',
 '/blogs/author/andy-serwer',
 '/news/thefinalround',
 '/news/',
 '/corporate-news/',
 '/economic-policy-news/',
 '/investing-news/',
 '/personal-finance/',
 '/career-education/',
 '/real-estate/',
 '/retirement/',
 '/credit-debt/',
 '/taxes/',
 '/autos/',
 '/lifestyle/',
 '/videos/',
 '/rates/',
 '/calculator/index/',
 '/personal-finance/tools/',
 '/cnbc/',
 '/blogs/big-data-download/',
 '/blogs/off-the-cuff/',
 '/blogs/power-pitch/',
 '/blogs/talking-numbers/',
 '/blogs/the-biz-fix/',
 '/blogs/top-best-most/',
 '/contributors/',
 'http://finance.search.yahoo.com?fr=fin-v1',
 '/q?s=^DJI',
 '/q?s=^IXIC',
 '/q?s=AAPL',
 '/q/ecn?s=AAPL+Order+Book',
 '/q/op?s=AAPL+Options',
 '/q/hp?s=AAPL+Historical+Prices',
 '/echarts?s=AAPL+Interactive',
 '/q/h?s=AAPL+Headlines',
 '/q/p?s=AAPL+Press+Releases',
 '/q/ce?s=AAPL+Company+Events',
 '/mb?s=AAPL',
 '/marketpulse/AAPL',
 '/q/pr?s=AAPL+Profile',
 '/q/ks?s=AAPL+Key+Statistics',
 '/q/sec?s=AAPL+SEC+Filings',
 '/q/co?s=AAPL+Competitors',
 '/q/in?s=AAPL+Industry',
 '/q/ct?s=AAPL+Components',
 '/q/ao?s=AAPL+Analyst+Opinion',
 '/q/ae?s=AAPL+Analyst+Estimates',
 '/q/mh?s=AAPL+Major+Holders',
 '/q/it?s=AAPL+Insider+Transactions',
 '/q/ir?s=AAPL+Insider+Roster',
 '/q/is?s=AAPL+Income+Statement',
 '/q/bs?s=AAPL+Balance+Sheet',
 '/q/cf?s=AAPL+Cash+Flow',
 'https://mobile.yahoo.com/finance/?src=gta',
 '/q/op?s=AAPL&date=1447977600',
 '/q/op?s=AAPL&straddle=true&date=1447977600',
 None,
 None,
 '/q/op?s=AAPL&strike=60.00',
 '/q?s=AAPL151120C00060000',
 '/q/op?s=AAPL&strike=65.00',
 '/q?s=AAPL151120C00065000',
 '/q/op?s=AAPL&strike=70.00',
 '/q?s=AAPL151120C00070000',
 '/q/op?s=AAPL&strike=75.00',
 '/q?s=AAPL151120C00075000',
 '/q/op?s=AAPL&strike=80.00',
 '/q?s=AAPL151120C00080000',
 '/q/op?s=AAPL&strike=84.00',
 '/q?s=AAPL151120C00084000',
 '/q/op?s=AAPL&strike=85.00',
 '/q?s=AAPL151120C00085000',
 '/q/op?s=AAPL&strike=89.00',
 '/q?s=AAPL151120C00089000',
 '/q/op?s=AAPL&strike=90.00',
 '/q?s=AAPL151120C00090000',
 '/q/op?s=AAPL&strike=91.00',
 '/q?s=AAPL151120C00091000',
 '/q/op?s=AAPL&strike=92.00',
 '/q?s=AAPL151120C00092000',
 '/q/op?s=AAPL&strike=92.50',
 '/q?s=AAPL151120C00092500',
 '/q/op?s=AAPL&strike=93.00',
 '/q?s=AAPL151120C00093000',
 '/q/op?s=AAPL&strike=94.00',
 '/q?s=AAPL151120C00094000',
 '/q/op?s=AAPL&strike=95.00',
 '/q?s=AAPL151120C00095000',
 '/q/op?s=AAPL&strike=96.00',
 '/q?s=AAPL151120C00096000',
 '/q/op?s=AAPL&strike=96.50',
 '/q?s=AAPL151120C00096500',
 '/q/op?s=AAPL&strike=97.00',
 '/q?s=AAPL151120C00097000',
 '/q/op?s=AAPL&strike=97.50',
 '/q?s=AAPL151120C00097500',
 '/q/op?s=AAPL&strike=98.00',
 '/q?s=AAPL151120C00098000',
 '/q/op?s=AAPL&strike=98.50',
 '/q?s=AAPL151120C00098500',
 '/q/op?s=AAPL&strike=99.00',
 '/q?s=AAPL151120C00099000',
 '/q/op?s=AAPL&strike=99.50',
 '/q?s=AAPL151120C00099500',
 '/q/op?s=AAPL&strike=100.00',
 '/q?s=AAPL151120C00100000',
 '/q/op?s=AAPL&strike=101.00',
 '/q?s=AAPL151120C00101000',
 '/q/op?s=AAPL&strike=102.00',
 '/q?s=AAPL151120C00102000',
 '/q/op?s=AAPL&strike=103.00',
 '/q?s=AAPL151120C00103000',
 '/q/op?s=AAPL&strike=104.00',
 '/q?s=AAPL151120C00104000',
 '/q/op?s=AAPL&strike=105.00',
 '/q?s=AAPL151120C00105000',
 '/q/op?s=AAPL&strike=106.00',
 '/q?s=AAPL151120C00106000',
 '/q/op?s=AAPL&strike=107.00',
 '/q?s=AAPL151120C00107000',
 '/q/op?s=AAPL&strike=108.00',
 '/q?s=AAPL151120C00108000',
 '/q/op?s=AAPL&strike=109.00',
 '/q?s=AAPL151120C00109000',
 '/q/op?s=AAPL&strike=110.00',
 '/q?s=AAPL151120C00110000',
 '/q/op?s=AAPL&strike=111.00',
 '/q?s=AAPL151120C00111000',
 '/q/op?s=AAPL&strike=112.00',
 '/q?s=AAPL151120C00112000',
 '/q/op?s=AAPL&strike=113.00',
 '/q?s=AAPL151120C00113000',
 '/q/op?s=AAPL&strike=114.00',
 '/q?s=AAPL151120C00114000',
 '/q/op?s=AAPL&strike=115.00',
 '/q?s=AAPL151120C00115000',
 '/q/op?s=AAPL&strike=116.00',
 '/q?s=AAPL151120C00116000',
 '/q/op?s=AAPL&strike=117.00',
 '/q?s=AAPL151120C00117000',
 '/q/op?s=AAPL&strike=118.00',
 '/q?s=AAPL151120C00118000',
 '/q/op?s=AAPL&strike=119.00',
 '/q?s=AAPL151120C00119000',
 '/q/op?s=AAPL&strike=120.00',
 '/q?s=AAPL151120C00120000',
 '/q/op?s=AAPL&strike=121.00',
 '/q?s=AAPL151120C00121000',
 '/q/op?s=AAPL&strike=122.00',
 '/q?s=AAPL151120C00122000',
 '/q/op?s=AAPL&strike=123.00',
 '/q?s=AAPL151120C00123000',
 '/q/op?s=AAPL&strike=124.00',
 '/q?s=AAPL151120C00124000',
 '/q/op?s=AAPL&strike=125.00',
 '/q?s=AAPL151120C00125000',
 '/q/op?s=AAPL&strike=126.00',
 '/q?s=AAPL151120C00126000',
 '/q/op?s=AAPL&strike=127.00',
 '/q?s=AAPL151120C00127000',
 '/q/op?s=AAPL&strike=128.00',
 '/q?s=AAPL151120C00128000',
 '/q/op?s=AAPL&strike=129.00',
 '/q?s=AAPL151120C00129000',
 '/q/op?s=AAPL&strike=130.00',
 '/q?s=AAPL151120C00130000',
 '/q/op?s=AAPL&strike=131.00',
 '/q?s=AAPL151120C00131000',
 '/q/op?s=AAPL&strike=132.00',
 '/q?s=AAPL151120C00132000',
 '/q/op?s=AAPL&strike=133.00',
 '/q?s=AAPL151120C00133000',
 '/q/op?s=AAPL&strike=134.00',
 '/q?s=AAPL151120C00134000',
 '/q/op?s=AAPL&strike=135.00',
 '/q?s=AAPL151120C00135000',
 '/q/op?s=AAPL&strike=136.00',
 '/q?s=AAPL151120C00136000',
 '/q/op?s=AAPL&strike=137.00',
 '/q?s=AAPL151120C00137000',
 '/q/op?s=AAPL&strike=138.00',
 '/q?s=AAPL151120C00138000',
 '/q/op?s=AAPL&strike=139.00',
 '/q?s=AAPL151120C00139000',
 '/q/op?s=AAPL&strike=140.00',
 '/q?s=AAPL151120C00140000',
 '/q/op?s=AAPL&strike=141.00',
 '/q?s=AAPL151120C00141000',
 '/q/op?s=AAPL&strike=142.00',
 '/q?s=AAPL151120C00142000',
 '/q/op?s=AAPL&strike=143.00',
 '/q?s=AAPL151120C00143000',
 '/q/op?s=AAPL&strike=144.00',
 '/q?s=AAPL151120C00144000',
 '/q/op?s=AAPL&strike=145.00',
 '/q?s=AAPL151120C00145000',
 '/q/op?s=AAPL&strike=146.00',
 '/q?s=AAPL151120C00146000',
 '/q/op?s=AAPL&strike=147.00',
 '/q?s=AAPL151120C00147000',
 '/q/op?s=AAPL&strike=148.00',
 '/q?s=AAPL151120C00148000',
 '/q/op?s=AAPL&strike=150.00',
 '/q?s=AAPL151120C00150000',
 '/q/op?s=AAPL&strike=155.00',
 '/q?s=AAPL151120C00155000',
 '/q/op?s=AAPL&strike=160.00',
 '/q?s=AAPL151120C00160000',
 '/q/op?s=AAPL&strike=165.00',
 '/q?s=AAPL151120C00165000',
 '/q/op?s=AAPL&strike=170.00',
 '/q?s=AAPL151120C00170000',
 '/q/op?s=AAPL&strike=175.00',
 '/q?s=AAPL151120C00175000',
 None,
 None,
 '/q/op?s=AAPL&strike=60.00',
 '/q?s=AAPL151120P00060000',
 '/q/op?s=AAPL&strike=65.00',
 '/q?s=AAPL151120P00065000',
 '/q/op?s=AAPL&strike=70.00',
 '/q?s=AAPL151120P00070000',
 '/q/op?s=AAPL&strike=75.00',
 '/q?s=AAPL151120P00075000',
 '/q/op?s=AAPL&strike=76.00',
 '/q?s=AAPL151120P00076000',
 '/q/op?s=AAPL&strike=77.00',
 '/q?s=AAPL151120P00077000',
 '/q/op?s=AAPL&strike=78.00',
 '/q?s=AAPL151120P00078000',
 '/q/op?s=AAPL&strike=79.00',
 '/q?s=AAPL151120P00079000',
 '/q/op?s=AAPL&strike=80.00',
 '/q?s=AAPL151120P00080000',
 '/q/op?s=AAPL&strike=81.00',
 '/q?s=AAPL151120P00081000',
 '/q/op?s=AAPL&strike=82.00',
 '/q?s=AAPL151120P00082000',
 '/q/op?s=AAPL&strike=83.00',
 '/q?s=AAPL151120P00083000',
 '/q/op?s=AAPL&strike=84.00',
 '/q?s=AAPL151120P00084000',
 '/q/op?s=AAPL&strike=85.00',
 '/q?s=AAPL151120P00085000',
 '/q/op?s=AAPL&strike=86.00',
 '/q?s=AAPL151120P00086000',
 '/q/op?s=AAPL&strike=87.00',
 '/q?s=AAPL151120P00087000',
 '/q/op?s=AAPL&strike=87.50',
 '/q?s=AAPL151120P00087500',
 '/q/op?s=AAPL&strike=88.00',
 '/q?s=AAPL151120P00088000',
 '/q/op?s=AAPL&strike=89.00',
 '/q?s=AAPL151120P00089000',
 '/q/op?s=AAPL&strike=90.00',
 '/q?s=AAPL151120P00090000',
 '/q/op?s=AAPL&strike=91.00',
 '/q?s=AAPL151120P00091000',
 '/q/op?s=AAPL&strike=92.00',
 '/q?s=AAPL151120P00092000',
 '/q/op?s=AAPL&strike=92.50',
 '/q?s=AAPL151120P00092500',
 '/q/op?s=AAPL&strike=93.00',
 '/q?s=AAPL151120P00093000',
 '/q/op?s=AAPL&strike=94.00',
 '/q?s=AAPL151120P00094000',
 '/q/op?s=AAPL&strike=95.00',
 '/q?s=AAPL151120P00095000',
 '/q/op?s=AAPL&strike=96.00',
 '/q?s=AAPL151120P00096000',
 '/q/op?s=AAPL&strike=96.50',
 '/q?s=AAPL151120P00096500',
 '/q/op?s=AAPL&strike=97.00',
 '/q?s=AAPL151120P00097000',
 '/q/op?s=AAPL&strike=97.50',
 '/q?s=AAPL151120P00097500',
 '/q/op?s=AAPL&strike=98.00',
 '/q?s=AAPL151120P00098000',
 '/q/op?s=AAPL&strike=98.50',
 '/q?s=AAPL151120P00098500',
 '/q/op?s=AAPL&strike=99.00',
 '/q?s=AAPL151120P00099000',
 '/q/op?s=AAPL&strike=99.50',
 '/q?s=AAPL151120P00099500',
 '/q/op?s=AAPL&strike=100.00',
 '/q?s=AAPL151120P00100000',
 '/q/op?s=AAPL&strike=101.00',
 '/q?s=AAPL151120P00101000',
 '/q/op?s=AAPL&strike=102.00',
 '/q?s=AAPL151120P00102000',
 '/q/op?s=AAPL&strike=103.00',
 '/q?s=AAPL151120P00103000',
 '/q/op?s=AAPL&strike=104.00',
 '/q?s=AAPL151120P00104000',
 '/q/op?s=AAPL&strike=105.00',
 '/q?s=AAPL151120P00105000',
 '/q/op?s=AAPL&strike=106.00',
 '/q?s=AAPL151120P00106000',
 '/q/op?s=AAPL&strike=107.00',
 '/q?s=AAPL151120P00107000',
 '/q/op?s=AAPL&strike=108.00',
 '/q?s=AAPL151120P00108000',
 '/q/op?s=AAPL&strike=109.00',
 '/q?s=AAPL151120P00109000',
 '/q/op?s=AAPL&strike=110.00',
 '/q?s=AAPL151120P00110000',
 '/q/op?s=AAPL&strike=111.00',
 '/q?s=AAPL151120P00111000',
 '/q/op?s=AAPL&strike=112.00',
 '/q?s=AAPL151120P00112000',
 '/q/op?s=AAPL&strike=113.00',
 '/q?s=AAPL151120P00113000',
 '/q/op?s=AAPL&strike=114.00',
 '/q?s=AAPL151120P00114000',
 '/q/op?s=AAPL&strike=115.00',
 '/q?s=AAPL151120P00115000',
 '/q/op?s=AAPL&strike=116.00',
 '/q?s=AAPL151120P00116000',
 '/q/op?s=AAPL&strike=117.00',
 '/q?s=AAPL151120P00117000',
 '/q/op?s=AAPL&strike=118.00',
 '/q?s=AAPL151120P00118000',
 '/q/op?s=AAPL&strike=119.00',
 '/q?s=AAPL151120P00119000',
 '/q/op?s=AAPL&strike=120.00',
 '/q?s=AAPL151120P00120000',
 '/q/op?s=AAPL&strike=121.00',
 '/q?s=AAPL151120P00121000',
 '/q/op?s=AAPL&strike=122.00',
 '/q?s=AAPL151120P00122000',
 '/q/op?s=AAPL&strike=123.00',
 '/q?s=AAPL151120P00123000',
 '/q/op?s=AAPL&strike=124.00',
 '/q?s=AAPL151120P00124000',
 '/q/op?s=AAPL&strike=125.00',
 '/q?s=AAPL151120P00125000',
 '/q/op?s=AAPL&strike=126.00',
 '/q?s=AAPL151120P00126000',
 '/q/op?s=AAPL&strike=127.00',
 '/q?s=AAPL151120P00127000',
 '/q/op?s=AAPL&strike=128.00',
 '/q?s=AAPL151120P00128000',
 '/q/op?s=AAPL&strike=129.00',
 '/q?s=AAPL151120P00129000',
 '/q/op?s=AAPL&strike=130.00',
 '/q?s=AAPL151120P00130000',
 '/q/op?s=AAPL&strike=131.00',
 '/q?s=AAPL151120P00131000',
 '/q/op?s=AAPL&strike=132.00',
 '/q?s=AAPL151120P00132000',
 '/q/op?s=AAPL&strike=133.00',
 '/q?s=AAPL151120P00133000',
 '/q/op?s=AAPL&strike=134.00',
 '/q?s=AAPL151120P00134000',
 '/q/op?s=AAPL&strike=135.00',
 '/q?s=AAPL151120P00135000',
 '/q/op?s=AAPL&strike=136.00',
 '/q?s=AAPL151120P00136000',
 '/q/op?s=AAPL&strike=137.00',
 '/q?s=AAPL151120P00137000',
 '/q/op?s=AAPL&strike=138.00',
 '/q?s=AAPL151120P00138000',
 '/q/op?s=AAPL&strike=139.00',
 '/q?s=AAPL151120P00139000',
 '/q/op?s=AAPL&strike=140.00',
 '/q?s=AAPL151120P00140000',
 '/q/op?s=AAPL&strike=144.00',
 '/q?s=AAPL151120P00144000',
 '/q/op?s=AAPL&strike=145.00',
 '/q?s=AAPL151120P00145000',
 '/q/op?s=AAPL&strike=150.00',
 '/q?s=AAPL151120P00150000',
 '/q/op?s=AAPL&strike=155.00',
 '/q?s=AAPL151120P00155000',
 '/q/op?s=AAPL&strike=160.00',
 '/q?s=AAPL151120P00160000',
 '/q/op?s=AAPL&strike=165.00',
 '/q?s=AAPL151120P00165000',
 '/q/op?s=AAPL&strike=170.00',
 '/q?s=AAPL151120P00170000',
 '/q/op?s=AAPL&strike=175.00',
 '/q?s=AAPL151120P00175000']

In [71]:
tables=doc.findall('.//table')
calls=tables[0]

In [73]:
rows=calls.findall('.//tr')

In [76]:
rows

In [79]:
def _unpack(row,kind='td'):
    elts=row.findall('.//%s'%kind)
    return [val.text_content() for val in elts]
_unpack(rows[1],kind='th')

IndexError: list index out of range

二进制数据格式
--------------

In [82]:
frame=pd.read_csv('ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo